<div class="modal-back <%= obj.show?'':'hide'%>">
  <div class="modal-modal">
    <div class="modal-header">
      <h3><%= obj.header %></h3>
      <div class="modal-close js-close">
        <i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
      </div>
    </div>
    <div class="modal-body">
      <span><%= obj.body %></span>
    </div>
    <!-- Hay modales que traen sus propios botones dentro del cuerpo, como
         el de registro, que necesita un enviar que se activa solo cuando
         los tres campos valen. Para esos se oculta este pie generico, en
         vez de dejar un OK que no sabria que hacer. -->
    <div class="modal-footer <%= obj.sinBotones ? 'hide' : '' %>">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default js-close">Cancel</button>
        <button type="button" class="btn btn-default js-action">OK</button>
      </div>
    </div>
  </div>
</div>
